version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    allow:
      - dependency-type: "all"
    ignore:
      - dependency-name: "eslint"
        update-types:
          - "version-update:semver-major" #https://github.com/jsx-eslint/eslint-plugin-react/issues/3977
    groups:
      main:
        patterns:
          - "*"
    commit-message:
      prefix: "TECH Dependabot [npm] "
